@font-face {
    font-family: "font-style";
    src: url("./assets//fonts/YanoneKaffeesatz-VariableFont_wght.ttf");
}

body {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
}

.text-dark {
    color: #000;
}

.text-light {
    color: #fff;
}